.modal {
  width: 100%;
  max-width: 580px;
}
.modal-container {
  padding: 2rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background-overlay);
  backdrop-filter: blur(10px);
  z-index: 5;
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
