.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.flex-row {
  flex-direction: row;
}
.flex-grow {
  flex-grow: 1;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
