.btn {
  border: none;
  outline: none;
  background-color: var(--color-accent-500);
  color: var(--color-text-primary);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  transition: background-color 250ms;
  letter-spacing: 0.05rem;
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      background-color: var(--color-accent-300);
    }
  }
  &:disabled {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-300);
  }
}
